div {
  /* 用content作为宽高标准 */
  box-sizing: content-box;
}
.magic {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    :hover {
        color: green;
    }
    z-index: 10;
}
/* wall墙体，默认20厚度 */

.dianqi-list {
  background-color: rgba(252, 239, 239, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: red;
  z-index: 20;
  div {
    scale: 0.7;
  }
  &.dl-water {
    background-color: rgba(205, 227, 252, 0.5);
    color: rgb(71, 136, 255);
  }
}
.dianqi-name {
  width: 200%;
  position: absolute;
  left: -50%;
  top: -6px;
  text-align: left;
  font-size: 12px;
  scale: 0.5;
}
.s-s::after {
  /* 使用attr函数 */
  content: attr(datasize);
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 25px);
  scale: 0.5;
  z-index: 99;
  background-color: #eee;
  width: 50px;
  text-align: center;
}
.w-thin {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    border: 1px solid #666;
    position: absolute;
    top: 0;
    left: 0;
}
// 梁
.bridge {
    width: 18px;
    height: 18px;
    border: 1px dotted #ccc;
    position: absolute;
    top: 0;
    left: 0;
}
// 普通墙
.normal-wall {
    width: 18px;
    height: 18px;
    background-color: #ddd;
    border: 1px solid #666;
    position: absolute;
    top: 0;
    left: 0;
}
.w {
  width: 0px;
  height: 0px;
  /* background-color: #aaa; */
  border: 10px solid #ccc;
  margin: -10px;
  position: absolute;
  top: 0;
  left: 0;
}
.w::before {
  content: "";
  display: block;
  position: absolute;
  top: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  background-color: red;
  z-index: 2;
}
/* line线 */
.l {
  width: 1px;
  height: 1px;
  background-color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
}
